<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    {{ form.media.css }}
</head>
<body>
<h1>Django Crowdsourced Fields - Test View</h1>
<p>This view should help you to test JavaScript related parts of this app.</p>
<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% for object in objects %}
    <p><a href="/{{ object.pk }}/">[{{ object.pk }}] {{ object.title_crowdsourced }}{{ object.name }} {{ object.country_crowdsourced }}</a></p>
{% endfor %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
{{ form.media.js }}

<script type="text/javascript">
$(document).ready(function() {
    $('#id_country').combobox({
        source: {{ form.country_crowdsourced_values|safe }}
    });

    $('#id_title').combobox({
        source: {{ form.title_crowdsourced_values|safe }}
    });
});
</script>
</body>
